/* .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #7e7e7e9d;
} */

.formCard {
    display: inline-block;
    padding: 2rem;
    background-color: #4D4D4D;
    border-radius: 1rem;
    margin-top: 4rem;
    color: #fff;
}

.greetText {
    font-size: 22pt;
    font-weight: 800;
    color: #4D4D4D;
}

.btnLogin {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 12pt;
    font-weight: 600;
    color: #fff;
    background-color: #B46060;
}

label, input {
    display: block;
    width: 15rem;
}

input {
    margin-bottom: 2rem;
    margin-top: 0.2rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid #6e6e6e;
    font-size: 12pt;
}

label {
    text-align: start;
    font-size: 12pt;
    font-weight: 600;
}